<template>
  <div class="wrapper">
    <h2>Create your life with our  notebook!</h2>
    <button @click="goToTasks">Go to Tasks</button>
  </div>
</template>

<script>
export default {
  name: 'Home',
  methods: {
    goToTasks() {
      this.$router.push('/tasks');
    },
  },
};
</script>
<style>
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 100px;
  height: 30px;
  background: beige;
}
</style>