<script>
export default {
  name: 'Tasks',
  data() {
    return {
      newTaskText: '',
    };
  },
  computed: {
    tasks() {
      return this.$store.state.tasks;
    },
  },
  methods: {
    addTask() {
      if (this.newTaskText.trim() !== '') {
        const newTask = {
          id: Date.now(),
          name: this.newTaskText,
        };
        this.$store.commit('addTask', newTask);
        this.newTaskText = '';
      }
    },
    editTask(task) {
      const updatedTaskName = prompt('Enter the new task name:', task.name);
      if (updatedTaskName !== null && updatedTaskName.trim() !== '') {
        this.$store.commit('editTask', {taskId: task.id, taskName: updatedTaskName});
      }
    },
    deleteTask(taskId) {
      if (confirm('Are you sure you want to delete this task?')) {
        this.$store.commit('deleteTask', taskId);
      }
    },
  },
};
</script>

<template>
  <div class="tasks-wrapper">
    <h2>Tasks</h2>
    <form @submit.prevent="addTask">
      <input type="text" v-model="newTaskText" placeholder="Task name"/>
      <button type="submit">Add Task</button>
    </form>
    <ol class="tasks-list">
      <li v-for="task in tasks" :key="task.id">
        <div class="tasks-list-inner">
          {{ task.name }}
          <div class="button-wrapper">
            <button @click="editTask(task)" class="tasks-edit">Edit</button>
            <button @click="deleteTask(task.id)"  class="tasks-delete">Delete</button>
          </div>
        </div>
      </li>
    </ol>
  </div>

</template>

<style scoped>
  .tasks-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border: 2px solid grey;
    background-image: url("/src/assets/background_1.webp");
  }
  form {
    display: flex;
    gap: 20px;
  }
  .tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    padding: 0;
  }
  .tasks-list-inner {
    display: flex;
    justify-content: space-between;
  }
  .tasks-edit {
    margin: 0 10px 0 30px;
  }
</style>
