
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p, h1, h2, h3 {
  margin: 0;
}
h1 {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 20px;
}



