<script >
export default {
  name: 'App',
};
</script>

<template>
  <h1>Task Manager</h1>
  <img src="./assets/notes.png" alt="Logo" style="width: 300px; height: 300px"/>
  <router-view></router-view>
</template>


